.container {
  margin: 0 auto;
  background-color: white;
}
.loading {
  height: 100px;
  background-color: white;
}
.navbarBox {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  margin: auto;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0 30px;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-left: 10px;
  }
}

.logoText {
  font-size: 20px;
  font-family: var(--logo-font);
}

.menuBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.menuItem {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: var(--primary-color);
  }
}

.selcetedMenuItem {
  @extend .menuItem;
  color: var(--primary-color);
}

.menuEmoji {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.chat {
  font-size: 20px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: flex;

  &:hover {
    color: var(--primary-color);
  }
}

.bell {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  background-color: transparent;
  border-style: none;

  &:hover {
    color: var(--primary-color);
  }
}

.alarmCount {
  position: absolute;
  background: var(--primary-color);
  border-radius: 50%;
  color: white;
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 17px;
  font-weight: 500;
  top: -7px;
  left: 7px;
  right: 0;
}

.toggle {
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.chatAlarmCount {
  position: absolute;
  background: var(--primary-color);
  border-radius: 50%;
  color: white;
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 17px;
  font-weight: 500;
  top: -7px;
  left: 7px;
  right: 0;
}
.toggleBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: inherit;
  top: 0;
  left: 0;
}

.toggleList {
  position: absolute;
  z-index: 9999;
  background-color: white;
  color: black;
  right: 1%;
  top: 70px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px #00000033;
  padding: 10px;

  .toggleItems {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .toggleItem {
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  .togglemenu {
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: none;

    &:hover {
      color: var(--primary-color);
    }

    @media (max-width: 820px) {
      display: block;
    }
  }
}

.logOuttoggle {
  display: none;
}

//반응형 디자인
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .navbarBox {
    padding: 0 20px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 100%;
  }
  .logoBox {
    height: 60px;
  }
  .navbarBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }

  .menuBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .menuItem {
      display: none;
    }

    .toggleList {
      top: 50px;
    }
  }

  .menuEmojiPosition {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(-20%, 20%);
  }

  .logOuttoggle {
    display: block;
  }
}

@media (max-width: 550px) {
  .logoBox {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .logoText {
    font-size: 17px;
  }
  .logoBox {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .navbarBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .logoBox {
    height: 40px;
  }
}
