.container {
  width: 100vw;
  // border-bottom: 1px solid #b0b0b0;
}

.navbarBox {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100px;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 1200px;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.logoText {
  font-size: 20px;
  font-family: GmarketSansBold;
}

.menuBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-direction: row;
}

.menuItem {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Pretendard-Medium;
}

.menuItem:hover {
  color: #0ac4b9;
}

.chat {
  font-size: 20px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chat:hover {
  color: #0ac4b9;
}

.bell {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bell:hover {
  color: #0ac4b9;
}
