.container {
  width: 60vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.filterWrap {
  width: 100%;
  height: 130px;
  background-color: antiquewhite;
  margin: 100px auto;
}

.gridContainer {
  width: 60vw;
  height: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 50px auto;
}

.listContainer {
  width: 100%;
  height: 100%;
}

.listCard {
  width: 100%;
  height: 430px;
  border: 1px solid #b0b0b0;
  overflow: hidden;
  border-radius: 10px;
}

.listCard > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.explanationWrap {
  display: flex;
  margin: 10px 15px;
}

.titleColumn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100px;
  margin: auto 0;
}

.contentColumn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto 0 auto 15px;
  width: 100%;
}

.explanationWrap p {
  font-size: 14px;
  margin: 10px 0;
}

.title {
  font-weight: 700;
  margin: 10px 0;
}
