.body {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  gap: 15px;

  h1 {
    font-size: 25px;
    margin: 7px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: antiquewhite;
  padding: 25px;
  border-bottom: 1px solid rgb(184, 184, 184);

  div {
    padding: 5px;
    border-bottom: 1px solid gray;

    input {
      width: 200px;
      border: none;
    }
  }
  button {
    width: 150px;
    height: 25px;
    background-color: #21c531;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
  }
}

.validP {
  color: red;
}

.buttonWrapper {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.moveLogin {
  cursor: pointer;
  color: blue;
}
