.main {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: var(--max-width);

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
  }
}

.filtering {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
}

.subFiltering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.createLink {
  padding: 1rem 2rem;
  border: none;
  border-radius: 13px;
  background-color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.2rem;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1200px) {
  .main > h2,
  .subFiltering,
  .filtering {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 820px) {
  .filtering {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .filtering > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
  }
}
