.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.firstContainer {
  width: 90vw;
  height: 600px;
  margin-left: 10vw;
  background-color: #ebebeb;
  border-radius: 70px 0 0 70px;
}

.firstSection {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 auto 200px;
}

.firstTextWrap {
  width: 50%;
}

.firstTextWrap > p {
  font-family: Pretendard-Medium;
  font-size: 45px;
  line-height: 65px;
}

.bold {
  font-family: Pretendard-ExtraBold;
}

.firstImageWrap {
  width: 700px;
  height: 600px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.secondImageWrap {
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.secondBold {
  font-family: Pretendard-ExtraBold;
  font-size: 45px;
  line-height: 100px;
}

.secondTextWrap > p {
  font-family: Pretendard-Light;
  font-size: 25px;
  line-height: 40px;
}

.button {
  background-color: #0ac4b9;
  width: 180px;
  height: 50px;
  border-radius: 100px;
  border-style: none;
  color: white;
  margin: 50px auto;
  font-size: 17px;
  font-family: Pretendard-Medium;
}

.thirdSection {
  width: 100vw;
  height: 700px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.thirdImageWrap {
  opacity: 0.4;
}

.thirdTextWrap {
  font-family: Pretendard-ExtraBold;
  text-align: center;
  font-size: 45px;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 185%;
}

.fourthSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.fourthImageWrap {
  width: 600px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.fourthTextWrap {
  display: flex;
  flex-direction: column;
  font-family: Pretendard-Medium;
  font-size: 45px;
  line-height: 65px;
}

.fourthBold {
  font-family: Pretendard-ExtraBold;
}

.fifthContainer {
  width: 100vw;
  background-color: #ebebeb;
}

.fifthSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.fifthTextWrap {
  font-family: Pretendard-Medium;
  font-size: 40px;
  text-align: center;
}

.fifthImageGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
}

.fifthImageWrap {
  width: 100%;
  height: 100%;
}

.fifthImage {
  width: 250px;
  height: 250px;
  //   overflow: hidden;
  border-radius: 30px;
}
