.container {
  background-color: white;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.firstContainer {
  width: 90vw;
  height: 600px;
  margin-left: 10vw;
  background-color: #ebebeb;
  border-radius: 70px 0 0 70px;
  overflow: hidden;
}

.firstSection {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 auto 200px;
}

.firstTextWrap {
  width: 50%;
}

.firstTextWrap > p {
  font-size: 45px;
  line-height: 65px;
}

.bold {
  font-weight: 700;
}

.firstImageWrap {
  width: 700px;
  height: 600px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secondSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.secondImageWrap {
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.secondBold {
  font-weight: 800;
  font-size: 45px;
  line-height: 100px;
}

.secondTextWrap > p {
  font-size: 25px;
  line-height: 35px;
}

.button {
  background-color: var(--primary-color);
  width: 180px;
  height: 50px;
  border-radius: 100px;
  border-style: none;
  color: white;
  margin: 50px auto;
  font-size: 17px;
  font-weight: 500;
}

.thirdSection {
  width: 100vw;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.thirdImageWrap {
  width: 100vw;
  opacity: 0.4;
}

.thirdImageWrap > img {
  object-fit: cover;
}

.thirdTextWrap {
  font-weight: 800;
  text-align: center;
  font-size: 45px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.fourthSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.fourthImageWrap {
  width: 600px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.fourthTextWrap {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 45px;
  line-height: 65px;
}

.fourthBold {
  font-weight: 800;
}

.fifthContainer {
  width: 100vw;
  background-color: #ebebeb;
  margin: auto;
}

.fifthSection {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.fifthTextWrap {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.fifthImageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 1200px;
  height: 250px;
}

.fifthImageGrid img {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

// 반응형디자인
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .firstSection {
    width: 100%;
    margin: auto auto auto 50px;
    padding: 0 30px;
  }
  .firstTextWrap {
    width: 50%;
  }
  .firstImageWrap {
    width: 500px;
  }
  .secondSection {
    width: 100%;
    padding: 0 50px;
  }
  .fourthSection {
    width: 100%;
    padding: 0 50px;
  }
  .fourthImageWrap {
    width: 400px;
    img {
      object-position: left;
    }
  }
  .fifthSection {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  .fifthImageGrid {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .container {
    width: 100%;
  }
  .button {
    margin: 30px 0;
  }
  .firstContainer {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .firstSection {
    width: 100%;
    padding: 0 0 0 50px;
    margin: 0;
    p {
      font-size: 30px;
      line-height: 45px;
    }
    .firstImageWrap {
      width: 400px;
    }
  }
  .secondSection {
    width: 100%;
    margin: auto;
    padding: 0 50px;
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .secondBold {
    font-size: 30px;
  }
  .secondImageWrap {
    width: 300px;
    height: 400px;
  }
  .thirdSection {
    width: 100%;
    height: 100%;
  }
  .thirdTextWrap {
    font-size: 30px;
  }
  .thirdImageWrap {
    width: 100%;
  }
  .fourthSection {
    width: 100%;
    padding: 0 50px;
    p {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .fourthBold {
    font-size: 30px;
    line-height: 45px;
  }
  .fourthImageWrap {
    width: 300px;
    img {
      object-position: left;
    }
  }
  .fifthContainer {
    width: 100%;
  }
  .fifthSection {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    margin: auto;
  }
  .fifthImageGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    img {
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .button {
    width: 120px;
    height: 30px;
    font-size: 13px;
    margin: 20px 0;
  }
  .firstContainer {
    width: 100%;
    height: 100%;
  }
  .firstSection {
    padding: 0 0 0 30px;
    p {
      font-size: 19px;
      line-height: 28px;
    }
    .firstImageWrap {
      width: 200px;
      height: 300px;
    }
  }
  .secondSection {
    height: 100%;
    padding: 30px;
    p {
      font-size: 12px;
      line-height: 17px;
    }
  }
  .secondTextWrap {
    width: 40%;
    span {
      display: block;
    }
  }
  .secondBold {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .secondImageWrap {
    width: 150px;
    height: 250px;
    border-radius: 10px;
  }
  .thirdSection {
    height: 100%;
  }
  .thirdTextWrap {
    font-size: 19px;
  }
  .fourthSection {
    height: 100%;
    padding: 30px;
    p {
      font-size: 19px;
    }
  }
  .fourthTextWrap {
    width: 45%;
    font-size: 19px;
    line-height: 28px;
    span {
      display: block;
    }
  }
  .fourthBold {
    font-size: 19px;
    line-height: 28px;
  }
  .fourthImageWrap {
    width: 150px;
    height: 250px;
    border-radius: 10px;

    img {
      object-position: left;
    }
  }
  .fifthContainer {
    width: 100%;
  }
  .fifthSection {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    margin: auto;
  }
  .fifthTextWrap {
    font-size: 19px;
  }
  .fifthImageGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    img {
      border-radius: 10px;
    }
  }
}
