.kakaoButton {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #fae24c;
  overflow: hidden;
  border-style: none;
  cursor: pointer;
}

.kakaoButton:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.kakaoButton > img {
  object-fit: cover;
}
