:root {
  --max-width: 1200px;
  --primary-color: #0ac4b9;
  --placeholder-text-color: #909090;
  --placeholder-input-border-color: #979797;
  --card-detail-text-color: #3f423e;
  --bg-color: #f7f9f9;
  --button-background-color: #bebebe;
  --border-radius: 8px;
  --btn-border-radius: 13px;
}
