.modalContainer {
  padding: 15px;
  width: 400px;
  height: 700px;
  position: absolute;
  top: 15%;
  left: 41%;
  justify-content: center;
  background-color: whitesmoke;
  border: 2px solid rgb(28, 28, 28);
  border-radius: 10px;
}
