.chatContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}
.chatScroll {
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: calc(100vh - 120px);
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.053);
  }
}
.chatListScroll {
  overflow-y: auto;
  max-height: 600px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.053);
  }
}
.backBtn {
  border: none;
  background: transparent;
  margin-bottom: 10px;

  cursor: pointer;
}
.chatSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 20px;

  & > span {
    cursor: pointer;
  }
}
.date {
  display: flex;
  justify-content: center;
  margin: 15px 0px;

  & > p {
    padding: 5px;
    font-size: 12px;
    color: var(--placeholder-text-color);
  }
}
.noChatting {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
