.mungstaList {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 276px);
  gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .mungstaList {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .mungstaList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .mungstaList {
    grid-template-columns: 1fr;
  }
}
