.containerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto auto auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 600px) {
    width: 80%;
  }
}

.titleInput {
  background-color: var(--bg-color);
  width: 90%;
  padding: 0 30px;
  font-size: 20px;
  border: none;
  border-bottom: 2px dotted #eae7e7;
  outline: none;

  @media (max-width: 1200px) {
    width: 80%;
  }

  @media (max-width: 600px) {
    width: 70%;
  }
}

.info {
  margin: 50px 0 20px 0;
  color: #8c8b8b;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3px;
  width: 100%;

  .br {
    display: none;
  }

  @media (max-width: 1200px) {
    width: 90%;
    .br {
      display: block;
    }
  }

  @media (max-width: 600px) {
    width: 90%;
    font-size: 17px;
  }
}
.containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify-content;

  width: 50%;

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: 840px) {
    width: 90%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media (max-width: 1200px) {
    width: 85%;
    margin-top: 20px;
    justify-content: center;
  }

  @media (max-width: 840px) {
    width: 90%;
  }
}

.textarea {
  background-color: var(--bg-color);
  width: 100%;
  height: 475px;
  padding: 30px;
  border: 1px solid #eae7e7;
  outline: none;
  resize: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.3px;
  border-radius: 5px;

  &::placeholder {
    color: var(--placeholder-text-color);
  }
}

.priceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border: 1.5px solid #0ac4b9;
  font-size: 22px;
  color: #0ac4b9;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -0.3px;
  padding: 0 30px;

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
  }
}
.price {
  background-color: var(--bg-color);
  border: 0;
  outline: none;
  font-size: 20px;
  text-align: right;
  width: 80%;
}

.infoMap {
  color: #212529;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3px;
  width: 100%;
  margin-top: 50px;

  @media (max-width: 1200px) {
    width: 90%;
  }
}

.divider {
  height: 30px;
  border: #eae7e7 1px solid;

  @media (max-width: 1200px) {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #eae7e7;
    margin: 20px 0;
  }
}

.categoryBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.mainCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 650px) {
    justify-content: flex-start;
    width: 90%;
  }

  .radio {
    width: 125px;
    height: 45px;
    border: 0;

    input {
      position: absolute;
      width: 125px;
      height: 45px;
      opacity: 0;
      cursor: pointer;

      @media (max-width: 650px) {
        width: 110px;
      }
    }

    label {
      display: block;
      border-radius: 50px;
      margin: 0 auto;
      text-align: center;
      height: 100%;
      line-height: 45px;
    }

    input[type='radio']:checked + label {
      background: black;
      color: #fff;
    }

    input[type='radio'] + label {
      background: #d8d4d4;
      color: white;
      font-weight: 700px;
    }
  }
}

.subCategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 650px) {
    justify-content: flex-start;
    width: 90%;
  }

  .radio {
    width: 125px;
    height: 45px;
    border: 0;

    input {
      position: absolute;
      width: 125px;
      height: 45px;
      opacity: 0;
      cursor: pointer;

      @media (max-width: 480px) {
        width: 80px;
      }
    }

    label {
      display: block;
      border-radius: 50px;
      margin: 0 auto;
      text-align: center;
      height: 100%;
      line-height: 45px;
    }

    input[type='radio']:checked + label {
      background: black;
      color: #fff;
    }

    input[type='radio'] + label {
      background: #d8d4d4;
      color: white;
      font-weight: 700px;
    }
  }
}

.imageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 1200px) {
    justify-content: center;
    gap: 10px;
  }

  @media (max-width: 650px) {
    justify-content: center;
    width: 90%;
  }
}

.imageInput {
  width: 274px;
  height: 274px;
  position: relative;
  border-radius: 13px;

  label {
    position: absolute;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e6e8e8;
    cursor: pointer;
    border-radius: 13px;
  }

  input {
    display: none;
  }

  @media (max-width: 720px) {
    width: 204px;
    height: 204px;

    label {
      width: 200px;
      height: 200px;
    }
  }

  @media (max-width: 480px) {
    width: 164px;
    height: 164px;

    label {
      width: 160px;
      height: 160px;
    }
  }
}

.image {
  width: 270px;
  height: 270px;
  border-radius: 13px;
  object-fit: cover;

  @media (max-width: 720px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 480px) {
    width: 160px;
    height: 160px;
  }
}

.imageInputMain {
  border: #0ac4b9 2px solid;
  @extend .imageInput;
}

.mainImage {
  position: absolute;
  background-color: #0ac4b9;
  color: white;
  padding: 3px;
  border-radius: 5px 0 5px 0;
  font-size: 12px;
}

.cancelIcon {
  position: absolute;
  color: gray;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  right: 5px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .locationInput {
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;

    &::placeholder {
      color: var(--placeholder-text-color);
    }
  }

  @media (max-width: 1200px) {
    width: 90%;
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
  gap: 20px;

  .buttonCancel {
    width: 200px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #eae7e7;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 41px;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttonCreate {
    width: 200px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: #0ac4b9;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 41px;
    border-radius: 5px;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    width: 90%;
    height: 90%;
  }
}
