.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapWrap {
  width: 1200px;
  height: 400px;
  margin: 20px 0 50px 0;
}

.searchAddress {
  border-bottom: 1px solid #b0b0b0;
  padding: 10px;
  text-align: center;
  width: 300px;
  margin: 40px auto 0 auto;
}
