.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 2rem;
    font-family: Pretendard-Bold;
  }
  a {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 13px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    opacity: 0.8;
  }
}

.mungstaList {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.mungstaItem {
  width: 100%;

  a {
    display: block;
  }
}

.profile {
  padding: 0.8rem 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
      border: 1px solid #eee;
    }
  }

  & > div:last-child {
    svg {
      cursor: pointer;
    }
  }

  img {
    margin-right: 4px;
    border-radius: 50%;
  }
}

.images {
  position: relative;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
  }

  span {
    display: inline-block;
    position: absolute;
    bottom: 0.6rem;
    right: 0.6rem;
  }

  svg {
    color: white;
  }
}

.info {
  h3 {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
  }

  & > div {
    margin-bottom: 1rem;
    ul {
      max-height: 72px;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      overflow: hidden;
    }
    li {
      padding: 0.5rem 0.8rem;
      background-color: #e6e8e8;
      border-radius: 6px;
      font-weight: bold;
      color: #757575;
    }
  }

  p {
    height: 3.6rem;
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 2rem;
  }
  .mungstaList {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .mungstaList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }
  .mungstaList {
    grid-template-columns: 1fr;
  }
}
