.wrapper {
  position: relative;
}

.directionBtn {
  position: absolute;
  top: 50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  opacity: 0.6;
  transform: translate(0, -50%);
  cursor: pointer;
}

.leftBtn {
  left: 0.6rem;
}
.rightBtn {
  right: 0.6rem;
}

.indicator {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  display: inline-flex;
  transform: translateX(-50%);

  svg {
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }
}
