.wrapper {
  height: 42px;
  display: flex;
  gap: 8px;

  button {
    height: 100%;
    background-color: #e6e8e8;
    border: 1px solid #979797;
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;

    svg {
      transform: franslateY(1px);
    }
  }
}

.input {
  min-width: 220px;
  height: 100%;
  padding: 0.5rem 8px;
  outline: none;
  border: 1px solid var(--placeholder-input-border-color);
  border-radius: var(--border-radius);
  font-size: 14px;

  &:placeholder {
    color: var(----placeholder-text-color);
  }

  &:focus {
    border-color: var(--primary-color);
    border-width: 1px;
    box-shadow: 0 0 0 1px #0ac4a9;
  }
}

@media screen and (max-width: 550px) {
  .input {
    min-width: 210px;
  }
}

@media screen and (max-width: 480px) {
  .searchForm {
    width: 100%;
  }
  .wrapper {
    input {
      width: 100%;
    }
  }
}
