.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
  padding: 2rem 0;
}

.subTitle {
  margin-top: 3rem;
  font-size: 1.1rem;
  text-align: center;
  span {
    color: var(--primary-color);
    font-weight: 700;
  }
}

.empty {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 80%;
    height: 60%;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;

  button {
    padding: 1rem;
    border: none;
    background: none;
    font-size: 1.2rem;
  }

  .isActive {
    button {
      color: #0ac4b9;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
